@inherits OverlayComponentBase

@if (isOpen_)
{
    <div class="modal-popup__backdrop" @onclick="OnBackdropClickedAsync"></div>

    <div class="modal-popup"
         @ref="popupElement_"
         role="dialog"
         aria-modal="true"
         aria-labelledby="@TitleId"
         tabindex="-1"
         @onkeydown="@OnKeyDownAsync">
        <div class="modal-popup__card">
            <div class="modal-popup__header">
                <div>
                    <div id="@TitleId" class="modal-popup__title">@Title</div>

                    @if (!string.IsNullOrWhiteSpace(Subtitle))
                    {
                        <div class="modal-popup__subtitle">@Subtitle</div>
                    }
                </div>

                @if (ShowCloseButton)
                {
                    <button type="button"
                            class="btn-close"
                            aria-label="Close"
                            @onclick="OnCloseAsync">
                    </button>
                }
            </div>

            @if (ChildContent is not null)
            {
                <div class="modal-popup__body">
                    @ChildContent
                </div>
            }

            @if (Actions is not null)
            {
                <div class="modal-popup__actions">
                    @Actions
                </div>
            }
        </div>
    </div>
}