@implements IDisposable
@inherits OverlayComponentBase

<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>

<div class="@CssClass">
    <div class="toolbar__menu-button-container"
         role="button"
         tabindex="0"
         aria-label="@MenuButtonLabel"
         aria-expanded="@anyOpen_"
         @onclick="ToggleMenu">
        <span class="toolbar__menu-button-icon">
            <span class="bi @(anyOpen_ ? OpenIconClass : ClosedIconClass)" aria-hidden="true"></span>
        </span>

        <div class="toolbar__menu-header">
            <div class="toolbar__menu-header-actions"
                 @onclick:stopPropagation="true">
                @ActiveElement?.HeaderActions
            </div>

            <div class="toolbar__menu-title-wrap">
                <span class="toolbar__menu-title">@ActiveElement?.Title</span>
                @if (ActiveElement is not null && ActiveElement.CanExpand)
                {
                    <button type="button"
                            class="toolbar__expand-button"
                            @onclick="@OpenModalElement"
                            @onclick:stopPropagation="true"
                            aria-label="Expand Mixer">
                        <span class="bi bi-arrows-fullscreen"></span>
                    </button>
                }
            </div>
        </div>
    </div>

    <div class="toolbar__menu" role="menu" aria-label="@MenuLabel">
        @foreach (var element in Elements)
        {
            <button class="toolbar__menu-item"
                    type="button"
                    role="menuitem"
                    tabindex="0"
                    disabled="@element.Disabled"
                    @onclick="async () => await OpenElementAsync(element)">
                @if (!string.IsNullOrWhiteSpace(element.IconClass))
                {
                    <span class="bi @element.IconClass" aria-hidden="true"></span>
                }
                
                <span>@element.Title</span>
            </button>
        }
    </div>

    <div class="toolbar__panel">
        @ActiveElement?.ChildContent
    </div>

    <ModalPopup @ref="elementPopup_"
                Title="@ModalElement?.Title"
                OnClose="() => ModalElement = null">
        <ChildContent>
            @ModalElement?.ChildContent
        </ChildContent>
    </ModalPopup>
</div>