<ModalPopup IsOpen="@(addModalType_ != AddModalType.None)"
            Title="Add Pan"
            OnClose="Close">
    <ChildContent>
        <div class="add__body">
            @if (addModalType_ == AddModalType.Track)
            {
                <select id="midi-track-select-modal"
                        class="form-select"
                        disabled="@(Disabled || UnassignedTracks.Count == 0)"
                        @bind="selectedTrackIndexString_">
                    @if (UnassignedTracks.Count == 0)
                    {
                        <option value="">All tracks already assigned</option>
                    }
                    else
                    {
                        @foreach (var track in UnassignedTracks)
                        {
                            <option value="@track.Index.ToString()">@track.DisplayInfo</option>
                        }
                    }
                </select>
            }

            <select id="pan-type-select"
                    class="form-select"
                    @bind="selectedPanTypeString_">
                @if (AvailablePanTypes.Count == 0)
                {
                    <option value="">No pans available</option>
                }
                else
                {
                    @foreach (var panType in AvailablePanTypes)
                    {
                        <option value="@panType.ToString()">@panType.ToSpacedPascal()</option>
                    }
                }
            </select>
        </div>
    </ChildContent>

    <Actions>
        <button type="button"
                class="btn btn-outline-secondary"
                @onclick="Close">
            Cancel
        </button>

        <button type="button"
                class="btn btn-primary"
                disabled="@(!CanConfirmAdd)"
                @onclick="ConfirmAddAsync">
            Add
        </button>
    </Actions>
</ModalPopup>

@code {
    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public EventCallback<MidiTrackAssignment> OnAddTrack { get; set; }

    [Parameter]
    public IReadOnlyList<MidiTrackInfo> Tracks { get; set; } = [];

    [Parameter]
    public IReadOnlyList<MidiTrackAssignment> Assignments { get; set; } = [];

    [Parameter]
    public IReadOnlyList<PanType> AvailablePanTypes { get; set; } = [];



    private enum AddModalType
    {
        None,
        Pan,
        Track
    }

    private AddModalType addModalType_;
    private string? selectedTrackIndexString_;
    private string? selectedPanTypeString_;

    private bool HasTracks => Tracks.Count > 0;

    private string selectedTrackLabel_
    {
        get
        {
            if (!int.TryParse(selectedTrackIndexString_, out var trackIndex))
                return string.Empty;

            var track = Tracks.FirstOrDefault(x => x.Index == trackIndex);
            if (track is null)
                return string.Empty;

            return track.DisplayInfo;
        }
    }

    private List<MidiTrackInfo> UnassignedTracks =>
        Tracks
            .Where(t => Assignments.All(a => a.TrackIndex != t.Index))
            .OrderBy(t => t.Index)
            .ToList();

    private bool CanOpenTrackAddModal =>
        !Disabled &&
        HasTracks &&
        AvailablePanTypes.Count > 0 &&
        UnassignedTracks.Count > 0 &&
        int.TryParse(selectedTrackIndexString_, out _);

    private bool CanOpenPanAddModal =>
        !Disabled &&
        AvailablePanTypes.Count > 0;

    private bool CanConfirmAddTrack =>
        addModalType_ == AddModalType.Track &&
        int.TryParse(selectedTrackIndexString_, out var trackIndex) &&
        UnassignedTracks.Any(x => x.Index == trackIndex) &&
        Enum.TryParse<PanType>(selectedPanTypeString_, out var panType) &&
        AvailablePanTypes.Contains(panType);

    private bool CanConfirmAddPan =>
        addModalType_ == AddModalType.Pan &&
        Enum.TryParse<PanType>(selectedPanTypeString_, out var panType) &&
        AvailablePanTypes.Contains(panType);

    private bool CanConfirmAdd => CanConfirmAddPan || CanConfirmAddTrack;

    private void GetInitialParameters(int? initialTrack)
    {
        selectedPanTypeString_ = AvailablePanTypes.FirstOrDefault().ToString();

        if (UnassignedTracks.Count == 0)
        {
            selectedTrackIndexString_ = string.Empty;
            return;
        }

        if (string.IsNullOrWhiteSpace(selectedTrackIndexString_) || initialTrack is not null)
            selectedTrackIndexString_ = initialTrack.ToString() ?? string.Empty;

        if (!int.TryParse(selectedTrackIndexString_, out var selectedTrackIndex) ||
            UnassignedTracks.All(x => x.Index != selectedTrackIndex))
        {
            selectedTrackIndexString_ = UnassignedTracks[0].Index.ToString();
        }
    }

    protected override void OnParametersSet()
    {
        GetInitialParameters(initialTrack: null);
    }


    public void Open(int? initialTrack = null)
    {
        if (!CanOpenTrackAddModal && !CanOpenPanAddModal)
            return;

        GetInitialParameters(initialTrack);
        if (HasTracks)
        {
            addModalType_ = AddModalType.Track;
        }
        else
        {
            addModalType_ = AddModalType.Pan;
        }
    }

    private void Close()
    {
        addModalType_ = AddModalType.None;
    }

    private async Task ConfirmAddPanAsync(PanType panType)
    {
        var assignment = new MidiTrackAssignment
        {
            TrackIndex = -1,
            TrackLabel = "No Track",
            AssignedPanType = panType
        };

        await OnAddTrack.InvokeAsync(assignment);
    }

    private async Task ConfirmAddTrackAsync(PanType panType)
    {
        if (!int.TryParse(selectedTrackIndexString_, out var trackIndex))
            return;

        var track = Tracks.FirstOrDefault(x => x.Index == trackIndex);
        if (track is null)
            return;

        var assignment = new MidiTrackAssignment
        {
            TrackIndex = track.Index,
            TrackLabel = track.DisplayInfo,
            AssignedPanType = panType
        };

        await OnAddTrack.InvokeAsync(assignment);
    }

    private async Task ConfirmAddAsync()
    {
        if (!Enum.TryParse<PanType>(selectedPanTypeString_, out var panType))
            return;

        switch (addModalType_)
        {
            case AddModalType.Pan:
                await ConfirmAddPanAsync(panType);
                break;

            case AddModalType.Track:
                await ConfirmAddTrackAsync(panType);
                break;
        }

        Close();
    }
}