<div class="file-picker">
    <InputFile id="file"
               class="file-input"
               multiple
               OnChange="OnFileSelectedAsync"
               @onclick="@OnFileBrowse"
               accept="@filter_" />

    <label for="file" class="file-button" @onclick="@OnFileBrowse">
        Browse
    </label>

    <label for="file"
           class="file-name @(string.IsNullOrWhiteSpace(FileName) ? "file-name--placeholder" : null)">
        <span class="file-name-text">@displayFileName_</span>
    </label>
</div>

@code {
    [Inject] private OverlayManagerService Overlays { get; set; } = default!;

    [Parameter]
    public string FileName { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<IBrowserFile> OnSingleFileSelected { get; set; }

    [Parameter]
    public EventCallback<IReadOnlyList<IBrowserFile>> OnMultipleFileSelected { get; set; }

    [Parameter]
    public List<string> Accept { get; set; } = new();

    private string displayFileName_ => string.IsNullOrWhiteSpace(FileName) ? "No file selected" : FileName;

    private string filter_ => string.Join(",", Accept.Select(ext => $".{ext.TrimStart('.')}"));

    private async Task OnFileSelectedAsync(InputFileChangeEventArgs e)
    {
        if (e.FileCount == 0)
            return;

        if (e.FileCount == 1)
        {
            await OnSingleFileSelected.InvokeAsync(e.File);
            return;
        }

        await OnMultipleFileSelected.InvokeAsync(e.GetMultipleFiles(32));
    }

    private async Task OnFileBrowse()
    {
        await Task.Delay(500);
        await Overlays.RequestCloseAllComponentsAsync();
    }
}